
 <!-- start of slideshow -->   
<script language="JavaScript" type="text/javascript">                                                                                
 
<!--
 
var SlideShow_MaxSlides = 7; // slide count
 
var SlideShow_DisplaySeconds = 7; // slide timing
 
var SlideShow_CurrentSlide = 1;
 
var SlideShow_Timer;
 
var SlideShow_Playing = true;
 
SlideShow_Timer = setTimeout(SlideShow_Next, SlideShow_DisplaySeconds * 1000);
 
//-->
 
</script>
 
<div id="SlideShowWidget">
 
    
 
    <div class="ssw_all_descriptions">
 
 
<div id="ssw_descript_1" class='ssw_description firstSlide'>
 <div id="ssw_slide_1" class='ssw_slide firstSlide'><img src="/assets/ww1.jpg" width="300" border="0" /></div>
    </div>
        <div id="ssw_descript_2" class='ssw_description' style="display:none;"><div id="ssw_slide_2" class='ssw_slide'><img src="/assets/Jefferson.jpg" width="300" border="0" /></div>
    </div>

     <div id="ssw_descript_3" class='ssw_description' style="display:none;"><div id="ssw_slide_3" class='ssw_slide'><img src="/assets/MossDiary.jpg" width="300" border="0" /></div>
        </div>
         <div id="ssw_descript_4" class='ssw_description' style="display:none;"><div id="ssw_slide_4" class='ssw_slide'><img src="/assets/courseofstudies.jpg" width="300" border="0" /></div>
        </div>
  <div id="ssw_descript_5" class='ssw_description' style="display:none;"><div id="ssw_slide_5" class='ssw_slide'><img src="/assets/familygroup.jpg" width="300" border="0" /></div>
        </div>
 <div id="ssw_descript_6" class='ssw_description' style="display:none;"><div id="ssw_slide_6" class='ssw_slide'><img src="/assets/Football1934.jpg" width="300" border="0" /></div>
        </div>
     <div id="ssw_descript_7" class='ssw_description' style="display:none;"><div id="ssw_slide_7" class='ssw_slide'><img src="/assets/Keittdrawing.jpg" width="300" border="0" /></div>
        </div>
        		
 
    
    </div>
    

    <div class="ssw_all_icons" align="center">
	    <div class="prevnext" onclick="return SlideShow_Previous();">&lt;&lt;</div>
        <div id="ssw_icon_1" class='ssw_icon_active' onclick="return SlideShow_Jump(1);">&nbsp;</div>
        <div id="ssw_icon_2" class='ssw_icon_inactive' onclick="return SlideShow_Jump(2);">&nbsp;</div>
        <div id="ssw_icon_3" class='ssw_icon_inactive' onclick="return SlideShow_Jump(3);">&nbsp;</div>
	<div id="ssw_icon_4" class='ssw_icon_inactive' onclick="return SlideShow_Jump(4);">&nbsp;</div>
        <div id="ssw_icon_5" class='ssw_icon_inactive' onclick="return SlideShow_Jump(5);">&nbsp;</div>
        <div id="ssw_icon_6" class='ssw_icon_inactive' onclick="return SlideShow_Jump(6);">&nbsp;</div>
        <div id="ssw_icon_7" class='ssw_icon_inactive' onclick="return SlideShow_Jump(7);">&nbsp;</div>
	    <div class="prevnext" onclick="return SlideShow_Next();">&gt;&gt;</div>

    </div>
  </div>
 <!-- end of slideshow -->           

