
 <!-- start of slideshow -->   
<script language="JavaScript" type="text/javascript">                                                                                
 
<!--
 
//**Change your number of slides here** 
var SlideShow_MaxSlides = 3; 
 
//**Change how long you want each slide displayed for here
var SlideShow_DisplaySeconds = 7; 
 
var SlideShow_CurrentSlide = 1;
 
var SlideShow_Timer;
 
var SlideShow_Playing = true;
 
SlideShow_Timer = setTimeout(SlideShow_Next, SlideShow_DisplaySeconds * 1000);
 
//-->
 
</script>
 
<div id="SlideShowWidget">

<div class="ssw_all_descriptions">
 
 <!--Slide 1 -->
   <div id="ssw_descript_1" class='ssw_description firstSlide'>
	   <div id="ssw_slide_1" class='ssw_slide firstSlide'>
	   <img src="/assets/image1.jpg" width="300" border="0" />
	   </div>
   </div>
        
  <!--Slide 2 -->   
    <div id="ssw_descript_2" class='ssw_description' style="display:none;">
	    <div id="ssw_slide_2" class='ssw_slide'>
	    <img src="/assets/image2.jpg" width="300" border="0" />
	    </div>
    </div>

<!--Slide 3 -->
     <div id="ssw_descript_3" class='ssw_description' style="display:none;">
	     <div id="ssw_slide_3" class='ssw_slide'>
	     <img src="/assets/image3.jpg" width="300" border="0" />
	     </div>
     </div>
   
</div>
    

    <div class="ssw_all_icons" align="center">
    <div class="prevnext" onclick="return SlideShow_Previous();">&lt;&lt;</div>
    
    <!--Add or remove DIVs to match your number of slides as needed -->
        <div id="ssw_icon_1" class='ssw_icon_active' onclick="return SlideShow_Jump(1);">&nbsp;</div>
        <div id="ssw_icon_2" class='ssw_icon_inactive' onclick="return SlideShow_Jump(2);">&nbsp;</div>
        <div id="ssw_icon_3" class='ssw_icon_inactive' onclick="return SlideShow_Jump(3);">&nbsp;</div>
    
    
    <div class="prevnext" onclick="return SlideShow_Next();">&gt;&gt;</div>

    </div>
  </div>
 <!-- end of slideshow -->           

