<%
def jsonresults
     uri = URI("#{AppConfig[:backend_url]}/users/#{AppConfig[:new_resource_username]}/login")
     response = Net::HTTP.post_form(uri, 'password' =>  AppConfig[:new_resource_password])
     @session_token = JSON.parse(response.body)['session']
     @auth_header = { 'X-ArchivesSpace-session' => @session_token }
     recordtypes = AppConfig[:new_resource_record_types]
     .map{|s| s.sub(/\A(?!primary_type:)/, "primary_type:")}
     .join("%20OR%20")

    uri = URI.parse("#{AppConfig[:backend_url]}/repositories/#{AppConfig[:new_resource_repo]}/search?page=1&page_size=#{AppConfig[:new_resource_display_number]}&sort=create_time+desc&type[]=resource&type[]=digital_object&aq={\"query\":{\"op\":\"AND\",\"subqueries\":[{\"field\":\"published\",\"value\":true,\"jsonmodel_type\":\"boolean_field_query\"}],\"jsonmodel_type\":\"boolean_query\"},\"jsonmodel_type\":\"advanced_query\"}")
    http = Net::HTTP.new(uri.host, uri.port)
    request = Net::HTTP::Get.new(uri.request_uri)
    request.initialize_http_header(@auth_header)
    response = http.request(request)
    jsonresults = JSON.parse(response.body)
end
%>

<h4>Recently Added Resources</h4>
<ul>
<% jsonresults['results'].each do |entry| %><li><%= link_to entry['title'], entry['id'] %></li><% end %>
</ul>
